.settings-con{
    .settings-list{
        font-family: 'sf-pro-display_regular_400';
        margin: 0 16px;
        .settings-list-title{
          
            font-size: 14px;
            line-height: 16px;
            color: #737A86;
            margin: 24px 0 0 16px; 
        }
        .settings-list-li{
            font-family: 'sf-pro-display_medium_500';
            background: #FFFFFF;
            margin-top: 12px;
            border-radius: 12px;
        }
        .settings-li{
            color: #191B1F;
            line-height: 20px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .settings-li-left-icon{
                width: 22px;
                height: 22px;
                object-fit: cover;
                margin:0 16px;
            }
            .settings-li-left{
                display: flex;
                align-items: center;
            }
            .settings-li-right{
                font-size: 14px;
                color: #737A86;
                display: flex;
                align-items: center;
                .arow-right{
                    width: 12px;
                    height: 12px;
                    margin: 0 16px 0 12px;
                }
                .already-icon{
                    width: 16px;
                    height: 16px;
                    object-fit: cover;   
                    margin: 0 16px 0 6px;
                }
                .settings-li-btn{
                    font-size: 14px;
                    // line-height: 32px;
                    text-align: center;
                    color: #1A72F6;
                    width: 74px;
                    // height: 32px;
                    background: #1A72F61A;
                    border-radius: 8px;
                    margin-right: 16px;
                    padding: 9px 0;
                }
            }
        }
    }

}
.log_out_contaner {
    width: 343px;
    background: #fff;
    border-radius: 12px;
    .tip {
      color: #191B1F;
      font-family: 'sf-pro-display_regular_400';
      font-size: 16px;
      line-height: 24px;
      padding: 24px 16px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    :deep(.n-spin) {
      color: #7C7C82;
    }
  
    .button {
      color: #C3C3C7;
      font-family: 'sf-pro-display_regular_400';
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      padding: 8px;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
  
      .btn_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 48px;
        cursor: pointer;
        background: #EDEFF2;
        border-radius: 12px;
        color: #191B1F;
        transition: all 0.3s linear;
      }
      .btn_item:hover {
        background: #d0d1d5;
      }
      .btn_item:active {
        background: #b6b7ba;
      }
  
      .confirm {
        color: #fff;
        background: #F53F3F;
        transition: all 0.3s linear;
      }
      .confirm:hover {
        background: #c44037;
      }
      .confirm:active {
        background: #ab3930;
      }
  
      .confirm1 {
        color: #fff;
        background: #1A72F6;
        transition: all 0.3s linear;
      }
      .confirm1:hover {
        background: #2f56da;
      }
      .confirm1:active {
        background: #294cbe;
      }
    }
  }
