// 700
@font-face {
  font-family: 'HarmonyOS_Sans_Bold_700';
  src: url('./HarmonyOS_Sans_Bold_700.woff2');
  font-display: auto;
}

// 700
@font-face {
  font-family: 'sf-pro-display_bold_700';
  src: url('./sf-pro-display_bold_700.woff2');
  // font-display: auto;
}
// 600
@font-face {
  font-family: 'ssf-pro-display_semibold_600';
  src: url('./sf-pro-display_semibold_600.woff2');
  // font-display: auto;
}
// 500
@font-face {
  font-family: 'sf-pro-display_medium_500';
  src: url('./sf-pro-display_medium_500.woff2');
  font-display: auto;
}

// 400
@font-face {
  font-family: 'sf-pro-display_regular_400';
  src: url('./sf-pro-display_regular_400.woff2');
  font-display: auto;
}