.managebalance-box{
    
}
.QRPay-con{
    margin: 0 16px;
    padding-top:32px;
    margin-bottom: 48px;
}
.QRPay-balance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .QRPay-balance-title{
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #737A86;
        font-family: 'sf-pro-display_medium_500';
        .QRPay-balance-title-imgs{
            width: 16px;
            height: 16px;
            object-fit: cover;
            margin-left: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .QRPay-balance-title-img {
            width: 16px;
            height: 16px;
            object-fit: cover;
            transition: all linear 0.3s;
        }
    }
    .special-font{
        font-size: 24px;
        display: inline-block;
        height: 24px;
        line-height: 24px;
    }
    .QRPay-balance-number{
        font-size: 36px;
        line-height: 43px;
        color: #191B1F;
        font-family: 'sf-pro-display_bold_700';
        margin-top: 6px;
    }
}
.balance-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    .balance-btn-df{
        height: 36px;
        color: #191B1F;
        line-height: 22.4px;
        font-size: 14px;
        font-family: 'sf-pro-display_medium_500';
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 4px);
        background: #FFFFFF;
        border-radius: 50px;
        .balance-btn-img{
            width: 24px;
            height: 24px;
            object-fit: cover;
            margin-right: 8px;
        }
    }

}
.QRPay-list{
    font-family: 'sf-pro-display_medium_500';
    color:#191B1F;
    border-radius: 12px;
    background: #FFFFFF;
    margin-top: 24px;
 
    .QRPay-list-li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 16px;
        .shopping-img{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
        .currency-img{
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        .QRPay-list-con{
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            .QRPay-list-con-name{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 16px;
                line-height: 20px;
            }
            .QRPay-list-con-time{
                flex-shrink: 0;
                font-size: 12px;
                font-family: 'sf-pro-display_regular_400';
                list-style: 16px;
                color: #737A86;
                margin-top: 2px;
            }
        }
        .QRPay-list-li-left{
            display: flex;
            align-items: center;
        }
        .QRPay-list-right{
            font-size: 12px;
            line-height: 16px;
            display: flex;
            flex-direction: column; 
            .QRPay-list-con-num{
                text-align: end;
                font-size: 14px;
                line-height: 20px;
            }
            .QRPay-list-con-status{
                text-align: end;
                font-size: 12px;
                line-height: 16px;
                color: #737A86;
            }
            .completed-color{
                font-family: 'sf-pro-display_regular_400';
                text-align: right;
                color: #00B42A;
                margin-top: 2px;
            }
            .failed-color{
                font-family: 'sf-pro-display_regular_400';
                text-align: right;
                color: #F53F3F;
                margin-top: 2px;
            }
        }
    }
}
@media only screen and (min-width: 700px) {
    .managebalance-box{
        // width: 375px;
    }
}