.language-con{
    .language-list{
        font-family: 'sf-pro-display_regular_400';
        margin: 0 16px;
        .language-list-li{
            font-family: 'sf-pro-display_medium_500';
            background: #FFFFFF;
            margin-top: 12px;
            border-radius: 12px;
            padding: 4px 0;
        }
        .language-li{
            position: relative;
            z-index: 1;
            color: #191B1F;
            line-height: 20px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color:transparent;
            transition: background-color 0.3s;
            .language-li-left-icon{
                width: 32px;
                height: 32px;
                object-fit: cover;
                margin:0 16px;
            }
            .language-li-left{
                display: flex;
                align-items: center;
            }
            .language-li-font{
                color: #31CF61;
            }
        }
        .language-li-con:hover{
            .language-li::before{
                width:calc(100% - 8px);
                height: 100%;
                margin: 0 auto;
                content: '';
                position:absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                border-radius: 12px;
                background-color: #f5f5f5;
                transition: background-color 0.3s;
                z-index: -1;
            }
        }
    }
}