.footerBar-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'sf-pro-display_regular_400';
    background: #FFFFFF;
    z-index: 990;
}
.footerBar-list{
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 24px 4px;
    // padding-bottom: 24px;
    padding-bottom: env(safe-area-inset-bottom);
    .footerBar-li{
        font-size: 10px;
        line-height: 12px;
        font-family: 'sf-pro-display_medium_500';
        // color: #191b19;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 109px;
        .footerBar-li-img{
            width: 24px;
            height: 24px;
            object-fit: cover;
            margin-bottom: 4px;
        }
        .footerBar-li-text{
            color: #B7BCC5;
            white-space: nowrap;
        }
   
    }
}
.footerBar-li-text-set{
    color: #191b19 !important;
}
.footerBar-list-home{
    position: relative;
    .footerBar-li-home {
        font-size: 10px;
        line-height: 12px;
        font-family: 'sf-pro-display_medium_500';
        color: #191b19;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 136px;
        .footerBar-li-img{
            width: 24px;
            height: 24px;
            object-fit: cover;
            margin-bottom: 4px;
        }
        .footerBar-li-text{
            color: #B7BCC5;
            white-space: nowrap;
        }
    }
    .scan-pay-icon-bg{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        .scan-pay-icon-bg-icon{
            position: absolute;
            bottom: -15px;
            width: 108px;
            height: 108px;   
            object-fit: contain;
        }
    }
    .footerBar-li-scan{
        width: 64px;
        height: 64px;
        position: absolute;
        bottom: 24px;
        // background: #58F287;
        .scan-pay-icon{
            width: 64px;
            height: 64px;
            object-fit: cover; 
        }
    }
}
@media only screen and (min-width: 700px) {
    .footerBar-container{
        margin: 0 auto;
        // max-width: 375px;
    }
      
}