.signin-box{
    margin:  0 16px;
}
.signin-box-edit{
    margin-top: 40px;
    .signin-box-edit-title{
        font-size: 20px;
        font-family: 'sf-pro-display_bold_700';
        line-height: 24px;
        color: #191B1F;
    }
    .s-b-e-con{
        margin-top: 40px;
        .s-b-e-title{
            font-size: 14px;
            color: #191B1F;
            line-height: 16.8px;
        }
    }
}